.stinger-img {
    bottom: -20px;
}

.clipboard-section {
    height: 80vh;
}

.photo-section {
    min-height: 115vw;
}

.news-section {
    min-height: 55vh;
}

.push-bottom {
    bottom: 37vw;
}

.phone {
    position: absolute;
}

.phone-1 {
    left: 15vw;
    bottom: calc(100% - 440px);
}

.phone-2 {
    right: 15vw;
    bottom: calc(70% - 440px);
}

@media (max-width: 1000px) {
    .phone {
        position: relative;
    }

    .clipboard-section {
        height: auto;
        padding-bottom: 30vh;
    }

    .phone-1, .phone-2 {
        left: auto;
        right: auto;
        height: auto;
        bottom: auto;
        margin-bottom: 2.7rem;
    }

    .phone-1 {
        margin-top: -100%;
    }

    .push-bottom {
        bottom: auto;
    }

    .photo-section .push-bottom {
        margin-bottom: 24vh;
    }

    .news-section .phone-2 {
        margin-top: -100%;
    }
}