.stinger-text {
    width: 50%;
}

.stinger-img {
    width: 50%;
    height: 400px;
    margin-top: 5vh;
}

.careers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin-top: 10vh;
}

.location h4 {
    margin-bottom: 0.6em;
}

.location p {
    margin-bottom: 0.17em;
}

@media (max-width: 1000px) {
    .stinger-img {
        width: 100%;
    }

    .careers {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}