@keyframes bounce {
    0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-25px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bar {
    0% {
        left: 110%;
    }

    100% {
        left: -10%;
    }
}

@keyframes graph-1 {
    0% {
        bottom: 84%;
    }

    6% {
        bottom: 74%;
    }

    13% {
        bottom: 35%;
    }

    21% {
        bottom: 88%;
    }

    34% {
        bottom: 24%;
    }

    45% {
        bottom: 67%;
    }

    55% {
        bottom: 45%;
    }

    63% {
        bottom: 51%;
    }

    73% {
        bottom: 75%;
    }

    81% {
        bottom: 43%;
    }

    92% {
        bottom: 89%;
    }

    100% {
        bottom: 84%;
    }
}