@keyframes bounce {
    0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-25px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bar {
    0% {
        left: 110%;
    }

    100% {
        left: -10%;
    }
}

@keyframes graph-1 {
    0% {
        bottom: 84%;
    }

    13% {
        bottom: 35%;
    }

    45% {
        bottom: 67%;
    }

    73% {
        bottom: 75%;
    }

    100% {
        bottom: 84%;
    }
}