.bead.click {
    width: 12px !important;
}

.bead.on-0 {
    left: 0ch;
    width: 10.8ch;
}

.bead.on-0.click {
    left: 6.6ch;
}

.bead.on-1 {
    left: calc(216px);
    width: 6.6ch;
}

.bead.on-2 {
    left: calc(316px);
    width: 3.9ch;
}

.bead.on-3 {
    left: calc(416px);
    width: 7.2ch;
}

.bead.on-4 {
    left: calc(516px);
    width: 5.9ch;
}