/* FADER */

.fader {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    pointer-events: none;
    background: var(--bg-color);
    animation-duration: 0.3s;
    opacity: 0;
}

.fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

.fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

.float-up {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s linear;
}

.float-up.floated {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2s linear;
}

@media (max-width: 1000px) {
    .fader {
        top: 0px;
    }
}