/* FONTS */
@font-face {
    font-family: 'Futura';
    src: url(futura.ttf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(helvetica.woff);
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url(helveticabold.ttf);
}

@font-face {
    font-family: 'Helvetica Outline';
    src: url(helveticaoutline.ttf);
}