/* FONTS */
@font-face {
    font-family: 'Futura';
    src: url(futura.ttf);
}

@font-face {
    font-family: 'Helvetica Light';
    src: url(helveticalight.ttf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(helvetica.ttf);
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url(helveticabold.ttf);
}

@font-face {
    font-family: 'Helvetica Outline';
    src: url(helveticaoutline.ttf);
}

@font-face {
    font-family: 'Arrows';
    src: url(arrows.ttf);
}