.card-flex {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.card {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.c-d-landing .card {
    margin: 25px;
    height: 60%;
    width: calc(50% - 50px);
    flex-grow: 1;
    animation: fade-in 2s ease-out;
    animation-fill-mode: forwards;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.push-left {
    margin-left: -25px;
    opacity: 0;
    transition: 0.3s ease-out;
}

.landing-section h2 {
    transition: 0.3s ease-out;
}

.landing-section p {
    transition: 0.3s ease-out;
}