.c-d-landing .card {
    margin: 25px;
    height: 55%;
    width: calc(50% - 50px);
    flex-grow: 1;
    animation: fade-in 2s ease-out;
    animation-fill-mode: forwards;
}

.c-d-landing .card img {
    object-position: center top;
}

.carousel-indicator {
    position: absolute;
    top: 2em;
    left: 60px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.carousel-indicator-number {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    transition: 0.8s ease-out;
}

.carousel-indicator-number.indicated {
    background: var(--text-color);
}

@media (max-width: 1000px) {
    .c-d-landing .card {
        width: calc(50% - 25px);
        height: calc(50% - 25px);
        margin: 0;
        margin-bottom: 25px;
    }
    
    .c-d-landing .card-flex {
        height: 40vh;
    }
    
    .c-d-landing .card-flex .card:nth-child(1) {
        margin-right: 25px;
    }

    .carousel-indicator {
        grid-template-columns: 1fr;
        top: 50px;
        left: 19px;
    }
}

.push-left {
    margin-left: -25px;
    opacity: 0;
    transition: 0.3s ease-out;
}

.landing-section * {
    transition: 0.3s ease-out;
}