html {
    --bg-color: black;
    --bg-color-1: #232323;
    --text-color: white;
    --sub-text-color: #878787;
    --medium-gray: #454545;
    --highlight-color: #ef5774;
}

.dark-mode {
    --bg-color: black;
    --bg-color-1: #232323;
    --text-color: white;
    --sub-text-color: #878787;
    --medium-gray: #454545;
    --highlight-color: #ef5774;
    
    background: var(--bg-color);
    color: var(--text-color);
}

.light-mode {
    --bg-color: white;
    --bg-color-1: #efefef;
    --text-color: black;
    --sub-text-color: #242424;
    --medium-gray: #a6a6a6;
    --highlight-color: #af2754;
}

h3 {
    /* font-family: 'Helvetica Bold'; */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.6em;
}

section {
    height: auto;
    position: relative;
    padding: 120px 5vw;
}

@media (max-width: 1000px) {
    section {
        padding: 85px 50px;
    }
}

.featured-section {
    padding-top: 200px;
}

.projects {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    min-height: 400px;
}

.projects .card {
    width: 100%;
    height: 550px;
    margin-bottom: 25px;
    transition: 0.4s ease-out;
}

.project {
    position: relative;
}

.project h3.floated {
    margin-bottom: 15px;
    transition: 0.4s ease-out;
}

.project:hover {
    cursor: pointer;
}

.project:hover .card {
    margin: 50px;
    width: calc(100% - 100px);
    height: 525px;
    transition: 0.4s ease-out;
}

.project:hover .card img {
    width: 150%;
    height: 150%;
    margin-left: -25%;
    margin-top: -25%;
    transition: 0.4s ease-out;
}

.project:hover h3 {
    margin-top: -25px;
}

.card-flex {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.card {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 0.4s ease-out;
}

.projects .card img {
    margin-top: -5px;
    height: 110%;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 0.4s ease-out;
}

.white-line {
    position: relative;
}

.white-line::after {
    content: '';
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 5vw;
    height: 9px;
    background: var(--text-color);
}

@media (max-width: 1000px) {
    .projects {
        width: 100vw;
        margin-left: -50px;
        grid-template-columns: 1fr 1fr 1fr 15px;
        padding: 0 50px;
        padding-bottom: 85px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .projects::after {
        content: '';
    }

    .project .card {
        width: calc(100vw - 100px);
        height: 450px;
    }

    .project:hover .card {
        margin: 0px;
        margin-bottom: 25px;
        height: 450px;
        width: calc(100vw - 100px);
        transition: 0.4s ease-out;
    }

    .project:hover h3 {
        margin-top: 0px;
    }
}

/* contact */

.quote {
    margin-left: 40%;
    margin-bottom: 10em;
}

.quotation {
    display: block;
    line-height: 1.1em;
    font-size: 5em;
    margin-bottom: 0.3em;
    /* font-family: 'Helvetica Light'; */
    font-family: 'Inter';
    font-weight: 100;
}

.contact-form {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: flex-start;
    position: relative;
}

.contact-form .aside h3 {
    font-size: 2.6em;
}

form#contact {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    overflow: hidden;
    opacity: 1;
}

.float-up.floated.done {
    opacity: 0;
    transition: 0.4s ease-in;
}

.form-result {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s ease-in;
}

.form-result h3 {
    margin-bottom: 2rem;
}

.form-result.done {
    opacity: 1;
}

.email-input, .message-input {
    min-height: 3em;
    height: auto;
    font-size: 2em;
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 2em;
    width: 100%;
    transition: 0.2s ease-out;
}

input, textarea, pre {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: none;
    outline: none;
    border: none;
    color: var(--text-color);
    font-weight: 100;
    font-size: 1em;
    font-family: 'Inter';
}

pre {
    position: relative;
    height: auto;
    display: block;
    visibility: hidden;
    margin-top: 0.89em;
    line-height: normal;
    padding-bottom: 0.84em;
    padding-left: 3px;
}

pre span {
    display: inline-block;
}

.message-input pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.message-input pre span {
    width: 100%;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color);
    box-shadow: 0 0 0px 1000px var(--bg-color) inset;
}

textarea {
    padding-top: 0.89em;
    resize: none;
}

button {
    height: 3em;
    position: relative;
    background: none;
    outline: none;
    border: 2px solid var(--text-color);
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: var(--text-color);
    font-size: 1.1em;
    transition: 0.1s linear;
    letter-spacing: 2px;
}

button:hover {
    background: var(--text-color);
    color: var(--bg-color);
    transition: 0.1s linear;
    cursor: pointer;
}

footer {
    height: 20vh;
}

@media (max-width: 1000px) {
    .quote {
        margin-left: 0px;
        margin-bottom: 170px;
    }

    .quotation {
        font-size: 3em;
    }

    .contact-form {
        grid-template-columns: 1fr;
    }

    .contact-form .center {
        width: 100%;
        overflow: hidden;
    }

    .contact-form .aside {
        margin-bottom: 2rem;
    }

    form#contact {
        width: 100%;
    }

    .white-line::after {
        width: 150px;
        left: 50px;
    }

    footer {
        height: 85px;
    }
}