/* GLOBAL */
* {
    box-sizing: border-box;
}

:root {
    --bg-color: black;
    --bg-color-1: #232323;
    --text-color: white;
    --sub-text-color: #878787;
    --medium-gray: #454545;
    --highlight-color: #ef5774;
}

html {
    background: var(--bg-color);
    color: var(--text-color);
    /* font-family: 'Helvetica'; */
    font-family: 'Inter';
    font-weight: 300;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

h2 {
    /* font-family: 'Helvetica Bold'; */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 8em;
    margin-bottom: 0.15em;
    margin-top: -0.25em;
}

h2.hollow {
    /* font-family: 'Helvetica Outline'; */
    font-family: 'Inter';
    font-weight: 500;
    color: var(--bg-color);
    text-shadow: -1px 1px 0 var(--text-color),
                1px 1px 0 var(--text-color),
                1px -1px 0 var(--text-color),
                -1px -1px 0 var(--text-color);
    white-space: nowrap;
}

h2.smaller {
    font-size: 4em;
    margin-bottom: 0.5em;
}

h3 {
    /* font-family: 'Helvetica Bold'; */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.6em;
}

h4 {
    /* font-family: 'Helvetica Bold'; */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.arrow {
    font-family: 'Arrows';
}

/* HEADER */
header {
    width: 100vw;
    height: 120px;
    padding: 0 50px;
    padding-top: 25px;
    z-index: 99;
    position: fixed;
    top: 0px;
    background: var(--bg-color);
    padding-bottom: 115px;
}

nav {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px 1fr;
}

.flyout-button {
    display: none;
}

.bead {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: var(--highlight-color);
    bottom: -3px;
    pointer-events: none;
}

.logo {
    width: 350px;
    display: flex;
    align-self: flex-end;
    font-size: 2em;
    font-family: 'Futura';
    font-weight: bold;
}

.logo:hover {
    cursor: pointer;
}

.nav-link {
    width: 130px;
    padding: 15px;
    align-self: flex-end;
    padding-bottom: 2px;
}

.nav-number {
    display: block;
    color: var(--sub-text-color);
}

.nav-cta {
    width: 100%;
    text-align: right;
    align-self: flex-end;
    padding-bottom: 0.25em;
}

.nav-cta .nav-link {
    display: inline-block;
    padding: 0;
    height: 35px;
}

.cta-text {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cta-symbol {
    color: var(--text-color);
    border-radius: 50%;
    background: var(--medium-gray);
    padding: 5px;
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 1.4em;
    transition: 0.1s ease-out;
}

.nav-cta .nav-link:hover .cta-symbol {
    margin-left: 25px;
    margin-right: -5px;
    transition: 0.1s ease-out;
}

.landing-section {
    position: relative;
    min-height: calc(100vh - 100px);
}

.pull-text {
    padding-left: 5vw;
    padding-top: 15vh;
    overflow-y: hidden;
}

.pull-left {
    position: absolute; 
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.pull-right {
    position: absolute; 
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 3em;
    }

    h2.smaller {
        font-size: 4em;
    }

    h2.hollow {
        color: var(--text-color);
        text-shadow: none;
    }

    header {
        width: 100vw;
        height: 85px;
        padding: 25px 50px;
    }

    nav {
        grid-template-columns: 1fr;
        background: var(--bg-color);
        position: fixed;
        left: 0px;
        top: 0px;
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        width: 100vw;
        padding-left: 50px;
        padding-top: 25px;
        height: 85px;
        transition: 0.3s ease-out;
    }

    .flyout-button {
        font-size: 2rem;
        display: block;
        color: var(--text-color);
        position: absolute;
        right: 50px;
    }

    nav.flyout {
        height: 100vh;
    }

    .logo {
        width: 50%;
        margin-bottom: 50px;
        align-self: flex-start;
    }

    .nav-link {
        padding-left: 0px;
        padding-top: 25px;
        align-self: flex-start;
    }

    .nav-cta {
        padding-top: 25px;
        align-self: flex-start;
        text-align: left;
    }

    .pull-text-padding {
        display: none;
    }

    .pull-left {
        width: 100%;
        height: 100%;
        top: 0;
        padding: 0;
    }
    
    .pull-right {
        width: 100%;
        height: 100%;
        top: 0;
        padding: 0;
    }
}

/* LANDING */

main {
    min-height: 100vh;
    margin-top: 140px;
}

@media (max-width: 1000px) {
    main {
        margin-top: 85px;
    }
}

.skew {
    transform: rotateX(40deg) rotateY(15deg) rotateZ(-25deg);
}

.bounce {
    animation: bounce 10s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.bg-1 {
    background: var(--bg-color-1);
}

.no-scroll-bar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.no-scroll-bar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}