/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    background: var(--bg-color);
    color: var(--text-color);
    /* font-family: 'Helvetica'; */
    font-family: 'Inter';
    font-weight: 300;
    scroll-behavior: smooth;
}

h2 {
    /* font-family: 'Helvetica Bold'; */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 8em;
    margin-bottom: 0.15em;
    margin-top: -0.25em;
}

h2.hollow {
    /* font-family: 'Helvetica Outline'; */
    font-family: 'Inter';
    font-weight: 500;
    color: var(--bg-color);
    text-shadow: -1px 1px 0 var(--text-color),
                1px 1px 0 var(--text-color),
                1px -1px 0 var(--text-color),
                -1px -1px 0 var(--text-color);
    white-space: nowrap;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.arrow {
    font-family: 'Arrows';
}

/* HEADER */
header {
    width: 100%;
    height: 120px;
    padding: 0 50px;
    padding-top: 25px;
    z-index: 99;
    position: fixed;
    top: 0px;
    background: var(--bg-color);
}

nav {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px 1fr;
}

.bead {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: var(--highlight-color);
    bottom: -3px;
    pointer-events: none;
}

.logo {
    width: 350px;
    display: flex;
    align-self: flex-end;
    font-size: 2em;
    font-family: 'Futura';
    font-weight: bold;
}

.logo:hover {
    cursor: pointer;
}

.nav-link {
    width: 130px;
    padding: 15px;
    align-self: flex-end;
    padding-bottom: 2px;
}

.nav-number {
    display: block;
    color: var(--sub-text-color);
}

.nav-cta {
    width: 100%;
    text-align: right;
    align-self: flex-end;
    padding-bottom: 0.25em;
}

.nav-cta .nav-link {
    display: inline-block;
    padding: 0;
    height: 35px;
}

.cta-text {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cta-symbol {
    color: var(--text-color);
    border-radius: 50%;
    background: var(--medium-gray);
    padding: 5px;
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 1.4em;
    transition: 0.1s ease-out;
}

.nav-cta .nav-link:hover .cta-symbol {
    margin-left: 25px;
    margin-right: -5px;
    transition: 0.1s ease-out;
}

/* LANDING */

main {
    height: calc(100vh - 120px);
    margin-top: 120px;
}

.landing-section {
    position: relative;
    height: 100%;
}

.landing-section::before {
    content: '';
    width: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 50px;
    height: 2px;
    background: var(--bg-color-1);
}

.landing-carousel-slide {
    transition: 0.7s ease-out;
    opacity: 0;
}

.pull-text-padding {
    height: calc(80vh - 70%);
}

.pull-text {
    z-index: 5;
}

.landing-carousel-slide .pull-text {
    overflow: visible;
    padding-left: 5vw;
}

.landing-carousel-slide .pull-text p {
    width: 100%;
}

.pull-image {
    z-index: 4;
    transition: 0.3s ease-out;
}

.o-t-landing .pull-image {
    overflow: hidden;
}

.skew {
    transform: rotateX(40deg) rotateY(15deg) rotateZ(-25deg);
}

.bounce {
    animation: bounce 10s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.o-t-landing .bounce {
    right: 27%;
    position: absolute;
}

.o-t-landing .bounce.top {
    top: 0px;
    animation-duration: 9s;
}

.o-t-landing .bounce.mid {
    top: 200px;
    animation-duration: 8s;
}

.o-t-landing .bounce.bottom {
    top: 400px;
    animation-duration: 10s;
}

.pull-left {
    position: absolute; 
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.pull-right {
    position: absolute; 
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.bg-1 {
    background: var(--bg-color-1);
}

.scroll-btn {
    font-size: 8em;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 5vw;
    color: var(--sub-text-color);
    fill: var(--sub-text-color);
    border: 1px solid var(--sub-text-color);
    transition: 0.1s ease-out;
    z-index: 10;
    text-align: center;
}

.scroll-btn svg {
    transform: scale(2.6);
}

.scroll-btn:hover {
    cursor: pointer;
    bottom: 5px;
    transition: 0.1s ease-out;
}

.next-slide {
    font-size: 3em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    right: 25px;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    transition: 0.1s ease-out;
    z-index: 10;
}

.next-slide:hover {
    cursor: pointer;
    right: 20px;
    transition: 0.1s ease-out;
}

.prev-slide {
    font-size: 3em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    left: 25px;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    transition: 0.1s ease-out;
    z-index: 10;
}

.prev-slide:hover {
    cursor: pointer;
    left: 20px;
    transition: 0.1s ease-out;
}