/* LANDING */

.landing-section::before {
    content: '';
    width: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 50px;
    height: 2px;
    background: var(--bg-color-1);
}

@media (max-width: 1000px) {
    .landing-section::before {
        display: none;
    }
}

.landing-carousel-slide {
    transition: 0.7s ease-out;
    opacity: 0;
}

.pull-text-padding {
    height: calc(80vh - 70%);
    pointer-events: none;
}

.pull-text {
    z-index: 5;	
    pointer-events: none;
}

.landing-carousel-slide .pull-text {
    overflow: visible;
    padding-left: 5vw;
    padding-top: 0;
}

.landing-carousel-slide .pull-text p {
    width: 100%;
}

@media (max-width: 1000px) {
    .pull-left {
        width: calc(100% - 100px);
        height: calc(100vh - 145px);
        top: 50px;
        left: 50px;
        padding-top: 0;
    }

    .pull-right {
        width: calc(100% - 100px);
        height: calc(45vh - 85px);
        top: 85px;
        left: 50px;
    }

    .pull-left p {
        margin-top: 45vh;
    }

    .pull-image {
        margin-top: 85px;
    }

    .landing-carousel-slide {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    
    .landing-carousel-slide .pull-text {
        overflow: visible;
        padding-left: 0;
    }
}

.pull-image {
    z-index: 4;
    transition: 0.3s ease-out;
}

.o-t-landing .pull-image {
    overflow: hidden;
}

.skew img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.skew {
    width: 450px;
    transform: rotateX(40deg) rotateY(15deg) rotateZ(-25deg);
}

.bounce {
    animation: bounce 10s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.o-t-landing .bounce {
    right: calc(70% - 280px);
    position: absolute;
}

.o-t-landing .bounce.top {
    top: 0vh;
    animation-duration: 9s;
}

.o-t-landing .bounce.mid {
    top: 13vh;
    animation-duration: 8s;
}

.o-t-landing .bounce.bottom {
    top: 26vh;
    animation-duration: 10s;
}

@media (max-width: 1000px) {
    .skew {
        width: 250px;
    }

    .o-t-landing .bounce {
        right: calc(50% - 150px);
        position: absolute;
    }

    .o-t-landing .bounce.top {
        top: -100px;
    }
    
    .o-t-landing .bounce.mid {
        top: 25px;
    }
    
    .o-t-landing .bounce.bottom {
        top: 150px;
    }
}

.scroll-btn {
    position: absolute;
    width: 9vh;
    height: 9vh;
    bottom: 13vh;
    left: 5vw;
    z-index: 10;
}

.scroll-btn-inner {
    font-size: 8em;
    width: 9vh;
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 9vh;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0px;
    color: var(--sub-text-color);
    fill: var(--sub-text-color);
    border: 1px solid var(--sub-text-color);
    z-index: 10;
    text-align: center;
    overflow: hidden;
    padding-top: 25%;
}

.scroll-btn svg {
    margin: 0 auto;
    transform: scale(1) translateY(-10.5vh);
}

.scroll-btn:hover {
    cursor: pointer;
}

.scroll-btn:hover svg {
    transform: scale(1) translateY(0.8vh);
    transition: 0.4s ease-out;
}

.next-slide {
    font-size: 3em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    right: 25px;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    transition: 0.1s ease-out;
    z-index: 10;
}

.next-slide:hover {
    cursor: pointer;
    right: 20px;
    transition: 0.1s ease-out;
}

.prev-slide {
    font-size: 3em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    left: 25px;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    transition: 0.1s ease-out;
    z-index: 10;
}

.prev-slide:hover {
    cursor: pointer;
    left: 20px;
    transition: 0.1s ease-out;
}

@media (max-width: 1000px) {
    .scroll-btn {
        display: none;
    }
}