.left-grid {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.right-grid {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.float-left {
    /* position: absolute; */
    width: 60%;
    left: 5vw;
}

.text-box {
    margin-top: 1.5em;
    max-width: 40vw;
}

.big-text {
    font-size: 1.6em;
}

.float-right {
    position: absolute;
    width: 40%;
    left: calc(100vw - 35%);
}

.stinger-section {
    min-height: 85vh;
}

.phone {
    width: 25vmax;
    height: 50vmax;
}

.bg-paint {
    width: 100vw;
    position: absolute;
    left: 0px;
}

.push-bottom {
    position: absolute;
    bottom: 85px;
}

.float-up.floated.no-anim {
    transition: none;
}

.work-nav {
    position: absolute;
    top: 120px;

    display: grid;
    grid-template-columns: 85px 85px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px -6px var(--text-color);
    padding: 15px;

    border-radius: 10px;
    transition: 0.06s linear;
}

.work-nav:hover {
    box-shadow: 0px 2px 15px -6px var(--text-color);
    transition: 0.06s linear;
}

.next-section {
    height: 120px;
}

.work-nav-img {
    height: 75px;
    width: 75px;
    border-radius: 5px;
    overflow: hidden;
}

.work-nav-text {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 auto;
}

.prev {
    left: 5vw;
    grid-template-columns: 75px 130px;
}

.next {
    right: 5vw;
    grid-template-columns: 130px 75px;
}

@media (max-width: 1000px) {
    .left-grid, .right-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-bottom: 85px;
        grid-gap: 25px;
    }

    .big-text {
        font-size: 1.2rem;
    }

    .text-box {
        max-width: none;
        width: 100%;
    }

    .float-left, .float-right {
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
    }

    .stinger-img {
        margin-top: 1.2rem;
    }

    .bg-paint {
        display: none;
    }

    .phone {
        width: 100%;
        left: 0;
        right: 0;
    }

    .push-bottom {
        position: relative;
        bottom: auto;
    }

    .next-section {
        height: auto;
    }

    .prev {
        display: none;
    }

    .next {
        position: relative;
        top: auto;
        right: auto;
        height: 500px;
        grid-template-columns: 1fr;
    }

    .work-nav-img {
        width: 100%;
        height: 100%;
    }
}