.left-grid {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.right-grid {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.float-left {
    position: absolute;
    width: 60%;
    left: 5vw;
}

.text-box {
    margin-top: 1.5em;
}

.big-text {
    font-size: 1.6em;
}

.float-right {
    position: absolute;
    width: 40%;
    left: calc(100vw - 35%);
}

.stinger-section {
    min-height: 85vh;
}

.phone {
    width: 25vmax;
    height: 50vmax;
}

.bg-paint {
    width: 100vw;
    position: absolute;
    left: 0px;
}

.push-bottom {
    position: absolute;
    bottom: 85px;
}

.float-up.floated.no-anim {
    transition: none;
}

@media (max-width: 1000px) {
    .left-grid, .right-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-bottom: 85px;
        grid-gap: 25px;
    }

    .big-text {
        font-size: 1.2rem;
    }

    .float-left, .float-right {
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
    }

    .stinger-img {
        margin-top: 1.2rem;
    }

    .bg-paint {
        display: none;
    }

    .phone {
        width: 100%;
        left: 0;
        right: 0;
    }

    .push-bottom {
        position: relative;
        bottom: auto;
    }
}