.clients-section {
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10vh;
    grid-gap: 60px;
}

.client {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
}

.client h4 {
    margin-bottom: 0.6em;
}

.client p {
    font-size: 1rem;
    margin-bottom: 0.17em;
}