.clients-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: linear-gradient(160deg, var(--bg-color-1), var(--bg-color));
}

.clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10vh;
    grid-gap: 60px;
}

.client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 5vh;
}

.client h4 {
    margin-bottom: 0.6em;
}

.client p {
    font-size: 1rem;
    margin-bottom: 0.17em;
    color: var(--sub-text-color);
}

.text-box {
    margin-top: 1em;
    width: 30vw;
}

.nyu-section {
    position: relative;
}

.fashion-section {
    padding-bottom: 120px;
}

.laptop-right {
    position: absolute;
    top: -50%;
    left: 40vw;
    width: 55vw;
    z-index: 98;
}

.monster-section {
    position: relative;
}

.ipad-right {
    top: auto;
    bottom: 25px;
    width: 40vw;
    left: auto;
    right: 15vw;
}

.laptop-right .ipad {
    width: 100%;
    z-index: 1;
}

.laptop-right .video {
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
}

.laptop-right .people {
    position: absolute;
    bottom: -15%;
    right: -10%;
    width: 30%;
    z-index: 3;
}

.card-gallery {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 35px;
}

.wide-banner {
    width: 100%;
    height: calc(100vh - 200px);
    margin-bottom: 2em;
}

.banner-fill {
    position: absolute;
    top: 0px;
    left: 0px;
}

.card img.banner-fill {
    transition: 3s ease-out;
}

.got-section {
    padding-top: 120px;
}

@media (max-width: 1000px) {
    .clients-section {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .clients {
        grid-template-columns: 1fr;
    }

    .text-box {
        width: 100%;
    }

    .spacer-section {
        height: 0px;
        padding: 0;
    }

    .nyu-section {
        padding-top: 0px;
    }

    .laptop-right {
        width: 100%;
        position: relative;
        right: auto;
        left: auto;
        top: -2em;
        margin-bottom: 0;
    }
    
    .laptop-right .people {
        display: none;
        position: absolute;
        bottom: -15%;
        right: -10%;
        width: 30%;
        z-index: 3;
    }

    .card-gallery {
        margin-top: 1em;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .wide-banner {
        margin-bottom: 2em;
        height: 50vw;
    }
}