.graph {
    width: 650px;
    height: 250px;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    position: relative;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 100%;
}

.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--text-color);
    position: absolute;
    left: calc(50% - 7.5px);
    bottom: 0px;
    animation: graph-1 5s infinite cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.ball-0 {
    left: calc(0% - 7.5px);
    animation-delay: 0.9s;
}

.ball-1 {
    left: calc(10% - 7.5px);
    animation-delay: 0.8s;
}

.ball-2 {
    left: calc(20% - 7.5px);
    animation-delay: 0.7s;
}

.ball-3 {
    left: calc(30% - 7.5px);
    animation-delay: 0.6s;
}

.ball-4 {
    left: calc(40% - 7.5px);
    animation-delay: 0.5s;
}

.ball-5 {
    left: calc(50% - 7.5px);
    animation-delay: 0.4s;
}

.ball-6 {
    left: calc(60% - 7.5px);
    animation-delay: 0.3s;
}

.ball-7 {
    left: calc(70% - 7.5px);
    animation-delay: 0.2s;
}

.ball-8 {
    left: calc(80% - 7.5px);
    animation-delay: 0.1s;
}

.ball-9 {
    left: calc(90% - 7.5px);
    animation-delay: 0s;
}

.ball-10 {
    left: calc(100% - 7.5px);
    animation-delay: -0.1s;
}

.bar {
    height: 100%;
    width: 1px;
    background: var(--text-color);
    position: absolute;
    left: 0px;
    bottom: 0px;
    animation: bar 8s infinite linear;
}

.bar-1 {
    animation-delay: 0s;
}

.bar-2 {
    animation-delay: 2s;
}

.bar-3 {
    animation-delay: 4s;
}

.bar-4 {
    animation-delay: 6s;
}

.anim {
    display: grid;
    grid-template-columns: 650px 1fr;
}